
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    background-color: #ff5722;
    color: white;
    /* padding: 10px; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    margin: 10px 15px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #e64a19;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #d84315;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.fire-news {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

.slideshow-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mySlides {
    display: none;
    width: 100%;
}

.news-text {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
}

.posts {
    width: 80%;
    max-width: 800px;
}

.posts h2 {
    text-align: left;
}

.post {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.like-btn, .comment-toggle, .donate-btn {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.like-btn:hover, .comment-toggle:hover, .donate-btn:hover {
    background-color: #e64a19;
    color: white;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .fire-news,
    .posts {
        width: 100%;
        margin: 0;
    }
}

.slider {
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.slide {
    width: 33.333%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 20px;
}

#csvTable {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #ccc;
}

th {
    background-color: #f4f4f4;
}

footer {
    width: 100vw;
    height: 12vh;
    background-color: #ff5722;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}