
.footHo{
    width: 100%;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: scroll;
    bottom: 0;
    width: 100%;
    
  }
  .aboutUsDiv{
    margin-top: 30px;
  }
  #aboutUs{
    color: #fff;
    margin: 10px 15px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: none;
  }

  footer nav {
    display: flex;
    justify-content: center;
  }
  footer nav #twitter:hover {
    background-color: white;
    color: #6e6d6dde;
  }
  footer nav #fb:hover {
    background-color: white;
    color: #197dffc8;
  }
  footer nav #insta:hover {
    background-color: white;
    color: #e13898;
  }
  
  footer nav #youtube:hover {
    background-color: white;
    color: #ff0000b1;
  }
  .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: translateY(-3px);
  }
  
  .fa-x-twitter:hover {
    color: #000000cc;
  }
  
  .fa-facebook-f:hover {
    color: #1877f2;
  }
  
  .fa-instagram:hover {
    color: #C13584;
  }
  
  .fa-youtube:hover {
    color: #FF0000;
  }
  